<div class="container-fluid py-5">
    <div class="container">
        <h3>تواصل معنا</h3>

        <form action="contact" class="pt-4">
            <div class="row">
                <div class="col-6">
                    <label for="contact" class="form-label">الاسم</label>
                    <div class="input-group mb-3">
                        <input placeholder="ادخل الإسم" type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-6">
                    <label for="contact" class="form-label">البريد الإلتكروني</label>
                    <div class="input-group mb-3">
                        <input placeholder="ادخل البريد الإلكتروني" type="text" class="form-control" id="name">
                    </div>
                </div>
                <label for="contact" class="form-label">نوع التواصل</label>

                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="اختر نوع التواصل"
                        aria-label="Text input with dropdown button">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>

                <label for="contact" class="form-label">رسالتك</label>
                <div class="input-group mb-3">
                    <textarea name="" class="w-100 form-control" placeholder="اكتب رسالتك" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

        </form>
    </div>
</div>