.circle {
    width: 130px;
    height: 130px;
    background: #F7F7F7;
    // border-radius: 65px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.circle img {
    max-width: 55px;
    max-height: 55px;
}