.circle {
    width: 130px;
    height: 130px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
}

.circle img {
    max-width: 55px;
    max-height: 55px;
}