<div class="container-fluid">
    <div class="container py-5">
        <h3>
            رحلة الإستخدام
        </h3>

        <div class="row pt-5 d-flex justify-content-center gap-xl-0 gy-4 ">
            <div *ngFor="let step of journeySteps" class="col-auto">
                <div class="card gap-3">
                    <div class="row d-flex justify-content-between">
                        <div class="col-auto">
                            <div class="circle circle-float">
                                <img class="icon" [src]="step.icon" alt="icon">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="">
                                <p class="circle">
                                    {{step.id}}
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="card-body d-grid ">
                        <p class="fw-bolder ">{{step.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>