<div class=" container-fluid">
    <div class="footer container">
        <div class="row d-flex justify-content-between gap-lg-0 gap-md-0 gap-sm-3">
            <div class="col-xl-4 col-lg-3 col-md-3 col-sm-12 d-flex justify-content-xl-start justify-content-center">
                <img src="assets/images/logo1.webp" class="logo" alt="جسير">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 d-flex gap-1 justify-content-center">
                <div *ngFor="let social of socials" class="circle">
                    <a [href]="social.link">
                        <img [src]="social.icon" class=" icon" [alt]="social.title">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 text-muted d-flex justify-content-lg-end justify-content-center">
                <p class="copy-right gap-2">جميع الحقوق محفوظة <span class="circle">C</span> لتطبيق جسير 2022</p>
            </div>
        </div>
    </div>
</div>